# Ignore files for distribution archives.

/.editorconfig       export-ignore
/.gitattributes      export-ignore
/.github             export-ignore
/.markdownlint.jsonc export-ignore
/cspell.json         export-ignore
/logo.png            export-ignore
